[submodule "pack/plugins/start/tokyonight.nvim"]
	path = pack/plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
	shallow = true
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
	shallow = true
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
	shallow = true
[submodule "pack/plugins/start/indent-blankline.nvim"]
	path = pack/plugins/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
	shallow = true
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
	shallow = true
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	shallow = true
[submodule "pack/plugins/start/Comment.nvim"]
	path = pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
	shallow = true
[submodule "pack/plugins/start/nvim-tree.lua"]
	path = pack/plugins/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
	shallow = true
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
	shallow = true
[submodule "pack/plugins/start/telescope-fzf-native.nvim"]
	path = pack/plugins/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
	shallow = true
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	shallow = true
[submodule "pack/plugins/start/nvim-treesitter-textobjects"]
	path = pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
	shallow = true
[submodule "pack/plugins/start/which-key.nvim"]
	path = pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
	shallow = true
[submodule "pack/plugins/start/auto-session"]
	path = pack/plugins/start/auto-session
	url = https://github.com/rmagatti/auto-session.git
	shallow = true
[submodule "pack/plugins/start/alpha-nvim"]
	path = pack/plugins/start/alpha-nvim
	url = https://github.com/goolord/alpha-nvim.git
	shallow = true
