[submodule "pack/plugins/start/tokyonight.nvim"]
	path = pack/plugins/start/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/start/indent-blankline.nvim"]
	path = pack/plugins/start/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
